<!-- Crate Sample To-Do application -->

<html ng-app="todo">
    <head>
        <title>To-Do Application</title>
        <script src="angular.js"></script>
        <script>
            var app= angular.module('todo',[])
            app.controller('todoCtrl',function($scope){
                $scope.list = ['Task1','Task2','Task3']

                $scope.add = function(){
                    if($scope.newTsk){
                        $scope.list.push($scope.newTsk)
                    }else{
                        alert('Enter New Task')
                    }
                }

                $scope.edit = function(index){
                    var update = prompt("Enter Updated Task")
                    if(update !== null){
                        $scope.list.splice(index,1,update)
                    }
                }
                $scope.rem = function(index){
                    $scope.list.splice(index,1)
                }
            })
        </script>
    </head>
    <body ng-controller="todoCtrl">
        <h1>To-Do Application</h1>

        Enter New Task: <input type="text" ng-model="newTsk">
        <button ng-click="add()">Add Task</button> <br>
        <h3>Number of Task: {{list.length}}</h3>
        <table>
            <tr>
                <th>Task</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="task in list">
                <td>{{task}}</td>
                <td>
                    <button ng-click="edit($index)">Edit</button>
                    <button ng-click="rem($index)">Remove Task</button>
                </td>
                <td><input type="checkbox"></td>
            </tr>
        </table>
    </body>
</html>