<!-- Get the users first name and last name and display the full name -->

<html ng-app="name">
    <head>
        <title>Full Name</title>
        <script src="angular.js"></script>
        <script>
            var app = angular.module('name',[])
            app.controller('nameCtrl',function($scope){
                $scope.display = function(){
                    if($scope.fname && $scope.lname){
                        $scope.fullName = $scope.fname+ " " +$scope.lname
                    }
                }
            })
        </script>
    </head>
    <body ng-controller="nameCtrl">
        <h1>Full Name Displayer</h1><br>
        Enter First Name: <input type="text" ng-model="fname">
        Enter Last Name: <input type="text" ng-model="lname">
        <br>
        <button ng-click="display()">Join</button><br>

        <h3>Fill Name is: {{fullName}}</h3>
    </body>
</html>