<!-- User Login Form -->

<html ng-app="login">
    <head>
        <title>Login Form</title>
        <script src="angular.js"></script>
        <script>
            var app = angular.module('login',[])
            app.controller('loginCtrl',function($scope){
                $scope.login = function(){
                    if($scope.uname=='vishnu' && $scope.passwd=='vishnu'){
                        alert("Logged in succesfully")
                    }else{
                        alert('Login unsuccessful')
                    }
                }
            })
        </script>
    </head>
    <body ng-controller="loginCtrl">
        <h1>Login Form </h1><br>
        User Name: <input type="text" ng-model="uname"><br>
        Password: <input type="password" ng-model="passwd">
        <button ng-click="login()">Login</button>
    </body>
</html>