<!-- Create a Shopping list with add and remove function-->

<html ng-app="shop">
    <head>
        <title>Shopping Items</title>
        <script src="angular.js"></script>
        <script>
            var app = angular.module('shop',[])
            app.controller('shopCtrl',function($scope){
                $scope.list = ['Mango','Grapes','Apple']

                $scope.add = function(){
                    if($scope.newItm){
                        $scope.list.push($scope.newItm)
                        $scope.newItm=''
                    }
                }
                
                $scope.rem = function(index){
                    $scope.list.splice(index,1)
                }
            })
        </script>
    </head>
    <body ng-controller="shopCtrl">
        <h1>Shopping Items</h1><br>
        Enter New Item: <input type="text" ng-model="newItm">
        <button ng-click="add()">Add Item</button><br>
        <h3>All Items</h3>
        <table>
            <tr ng-repeat="items in list">
                <td>{{items}}</td>
                <td>
                    <button ng-click="rem($index)">Remove</button>
                </td>
            </tr>
        </table>

    </body>
</html>