<!-- Dispalay the details of the students and their CGPA -->

<html ng-app="stu">
    <head>
        <title>Students Details</title>
        <script src="angular.js"></script>
        <script>
            var app = angular.module('stu',[])
            app.controller('stuCtrl',function($scope){
                $scope.list =[]

                $scope.add = function(){
                    if($scope.name && $scope.cgpa){
                        $scope.list.push({
                            name:$scope.name,
                            cgpa:$scope.cgpa
                        })
                        $scope.name=''
                        $scope.cgpa=''
                    }else{
                        alert("Enter the details")
                    }
                }

                $scope.rem = function(index){
                    $scope.list.splice(index,1)
                }
            })
        </script>
    </head>
    <body ng-controller="stuCtrl">
        <h1>Student Details</h1>
        Enter Name: <input type="text" ng-model="name">
        Enter CGPA: <input type="number" ng-model="cgpa">
        <button ng-click="add()">Add Student</button><br>
        <h2>Total students: {{list.length}}</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>CGPA</th>
            </tr>
            <tr ng-repeat="stud in list">
                <td>{{stud.name}}</td>
                <td>{{stud.cgpa}}</td>
                <td><button ng-click="rem($index)">Remove</button></td>
            </tr>
        </table>
    </body>
</html>