<!-- Maintain Collection of items -->

<html ng-app="items">
    <head>
        <title>Items Maintainence</title>
        <script src="angular.js"></script>
        <script>
            var app = angular.module('items',[])
            app.controller('itemsCtrl',function($scope){
                $scope.list = ['Item1', 'Item2', 'Item3']

                $scope.add = function(){
                    if($scope.newItem){
                        $scope.list.push($scope.newItem)
                        $scope.newItem=''
                    }
                }

                $scope.rem = function(index){
                    $scope.list.splice(index,1)
                }
            })
        </script>
    </head>
    <body ng-controller="itemsCtrl">
        <h1>Items Management</h1>

        Enter New Item: <input type="text" ng-model="newItem">
        <button ng-click="add()">Add Item</button><br><br>

        <h2>Total Number of Items: {{list.length}}</h2>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Items</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="itm in list">
                    <td>{{itm}}</td>
                    <td>
                        <button ng-click="rem($index)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>